body {
	background-image: url(../images/cloudy-day.png);
}

.container-fluid {
	margin-top: 10px;
}


#heading {
	background-color: orange;
	color: white;
	font-size: 175%;
	font-weight: bolder;
	height: 80px;
	padding-top: 25px;
	text-align: center;
	width: 250px;
}

#intro {
	background-color: #fbe7cc;
	color: green;
	font-weight: bold;
	width: 400px;
	height: 400px;
	padding: 20px 5px 5px 5px;
}

#guessNumBox {
	background-color: green;
	height: 100px;
	font-size: 175%;
	padding-left:5px;
}

#counterBox {

	background-color: turquoise;
	height: 100px;
	width: 100px;
	text-align: center;
}

#board {
	height: 100px;
}

.crystalImg {
	height: 75px;
	width: 75px;
	float:left;
	margin-top: 10px;
	margin-right: 5px;
}

#totalScoreTxt {
	background-color: #2ca296;
	clear:both;
	margin-left: 15px;
	margin-top: 5px;
	padding-left: 5px;
	color:white;
	width: 200px;
}

#totalScoreBox {
	background-color: #2ca296;
	color: white;
	font-size: 150%;
	margin-left: 15px;
	margin-top: 10px;
	padding-left: 5px;
	height: 100px;
	width: 200px;
}

